body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: linear-gradient(320edg, #ff0000, #324fde); }

/* Link Styles */
a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #6633ff; }
